body {
  background-image:linear-gradient(to right,#2F4858, #33658A);
  font-family: 'Courier New', Courier, monospace;

}

section {
  background-color: #a8c69f62;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  align-items: center;
  margin: auto;
  text-align: center;
  box-shadow: 10px 10px 10px black;
  
}

input {
  font-size: 25px;
  border: 2px solid black;
  margin-top: 25px;
}

header {
  color: white;
  text-align: center;
}

footer{
  text-align: center;
  color: white;
  font-size: 20px;
}

